# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next
out

# Testing
coverage

# Misc
.DS_Store
*.pem

# Local env files
.env*.local
.env

# Git
.git
.gitignore

# README
README.md

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# IMPORTANTE: NÃO ignorar package-lock.json
# Ele é necessário para npm ci
!package-lock.json
